venv/
.env
__pycache__/
*.pyc
*.db
.pytest_cache/
.mypy_cache/
.streamlit/secrets.toml

vector_store/*
!vector_store/.gitkeep

data/raw/*
!data/raw/.gitkeep
!data/raw/*.txt
data/processed/*
!data/processed/.gitkeep
data/eval/*
!data/eval/.gitkeep
!data/eval/*.csv

